html,
body {
    padding: 0;
    margin: 0;
    overflow-x: hidden;
    font-family: Menlo, Consolas, monospace;
    color: #172426;
    background-color: #f5f5f5;
}

.center {
    box-sizing: content-box;
    text-align: left;
    word-wrap: break-word;
    margin-left: 10%;
    margin-right: 10%;
}

.search-block {
    background-color: #4F5059;
    box-sizing: content-box;
    text-align: center;
    width: 100%;
    padding-top: 25px;
    padding-bottom: 25px;
}

.item {
    cursor: pointer;
}

.bold {
    font-weight: bold;
}

ul {
    padding-left: 1em;
    line-height: 1.5em;
    list-style-type: dot;
}

.form-control {
    width: 38%;
    padding: 0.2%;
    font-size: 110%;
    border-radius: 4%;
}

.search-button {
    padding: 0.7%;
    width: 13%;
    font-size: 115%;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 4%;
    color: white;
    background-color: #29292d;
}

.dropdown {
    width: 38.8%;
    text-align: center;
    background-color: #29292d;
    color: white;
    padding: 0.4%;
    border-radius: 4%;
    font-size: 110%;
}

input[type="input"] {
    text-align: center;
}

.arrows {
    font-size: 100px;
    position: fixed;
    top: 45%;
    cursor: pointer;
    color: #4a4c58;
}

a.arrows.left {
    left: 2%
}

a.arrows.right {
    right: 2%;
}

/* modal for errors */

.modal-mask {
    position: fixed;
    z-index: 9998;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: table;
    transition: opacity 0.3s ease;
}

.modal-wrapper {
    display: table-cell;
    vertical-align: middle;
}

.modal-container {
    width: 36%;
    margin: 0px auto;
    padding: 30px 7px;
    background-color: #fff;
    border-radius: 2px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.33);
    transition: all 0.3s ease;
    font-family: Helvetica, Arial, sans-serif;
    text-align: center;
}

.modal-header h3 {
    margin-top: 0;
    color: #42b983;
}

.modal-body {
    margin: 20px 0;
}

.modal-default-button {
    font-size: 16px;
    font-weight: bold;
    width: 30%;
    border-radius: 7%;
}

/*
   * The following styles are auto-applied to elements with
   * transition="modal" when their visibility is toggled
   * by Vue.js.
   *
   * You can easily play with the modal transition by editing
   * these styles.
   */

.modal-enter {
    opacity: 0;
}

.modal-leave-active {
    opacity: 0;
}

.modal-enter .modal-container,
.modal-leave-active .modal-container {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}